apiVersion: v1
kind: Service
metadata:
  name: analytics-service
  namespace: analytics-ns
spec:
  selector:
    app: analytics-service
  ports:
  - protocol: TCP
    port: 8000
    targetPort: 8000
  type: ClusterIP
